@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

$main-color: pink;
$default-font: arial, sans-serif; 
$special-font: 'pt sans', 'roboto', 'arial', 'sans-serif';