@import "_variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-image: linear-gradient(rgb(224, 75, 100), rgb(216, 81, 104), rgb(183, 100, 141), rgb(212, 96, 115));
    font-family: $default-font;
    color: rgb(255, 255, 255);
    background-attachment: fixed;
    scroll-behavior: smooth;
}

.wrapper {
    //kontener
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    //pozycja i wielkość
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    //wygląd
    font-size: 2rem;
    background-color: #fff;
    box-shadow: 0 0 4px 0 black;
}

.logo {
    flex-basis: 200px;
    // height: 80px;
    //background-color: rgb(139, 181, 226);
    //tutaj zmieniamy wielkośc logo czyli 100% konteneru rodzica
    
    &__image {
        display: block;
        width: 100%;
    }
}

.search {
    //element elastyczny
    flex-grow: 1;
    //kontenerem flexbox
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 799px) {
        flex-basis: 100%;
        order: -1;
    }
    &__input {
        flex-basis: 60%;
        height: 50%;
        max-height: 60px;
        min-height: 50px;
        margin-right: 2vh;
        padding: 0 10px;
        font-size: 1.4rem;
        &:focus {
            box-shadow: 0 0 2px 1px $main-color;
            font-weight: bold;
        }
    }
    &__btn {
        height: 50%;
        max-height: 60px;
        min-height: 50px;
        font-size: 1.4rem;
        padding: 0 10px;
        border: 2px solid black;
        background-color: #fff;
        letter-spacing: 2px;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
            background-color: #000;
            color: white;
        }
    }
}

.settings {
    display: flex;
    padding: 0 30px 0 50px;
    align-items: center;
    @media(max-width: 799px) {
        flex-grow: 1;
        justify-content: flex-end;
    }
    &__icon-link {
        margin: 0 5px;
        font-size: 3rem;
        color: #555;
        &:hover {
            color: black;
        }
    }
}

.menu {
    flex-basis: 100%;
    height: 70px;
    margin-top: 10px;
    background-color: rgb(61, 36, 48);
    font-family: $special-font;
    padding: 15px 50px 15px 80px;
    &__list {
        display: flex;
        list-style: none;
    }
    &__item {
        margin: 0 20px;
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 4rem;
        &:hover {
            border-bottom: 2px yellow solid;
        }
        &:nth-last-child(1) {
            margin-left: auto;
            border: 2px solid pink;

            &:hover {
                border-color: yellow;
            }
            .menu__link {
                padding: 0 22px;
            }
        }
    }
    &__link {
        display: block;
        color: rgb(233, 198, 203);
        text-decoration: none;
    }
}

.article {
    padding: 30px 50px;
    color: rgb(42, 25, 31);
    text-align: center;
    &--small {
        padding: 20px 50px;
    }

    &__image {
        display: block;
        width: 100%;
        height: 50%;

        &:hover {
            // -webkit-filter: brightness(100%);
            filter: drop-shadow(16px 16px 10px black);
            cursor: pointer;
            transition: all 0.5s ;
        }
    }

    &__title {
        font-family: $special-font;
        font-size: 3rem;
        padding: 35px 0 15px;
        .article--small & {
            padding: 25px 0 10px;
            font-size: 1.8rem;
            background-color: $main-color;
        }
    }

    &__introduction {
        line-height: 1.6;
        font-size: 1.6rem;
    }
    
    &__btn {
        display: block;
        margin: 10px auto;
        width: 50%;
        min-width: 200px;
        font-size: 1.8rem;
        border: 2px solid black;
        padding: 6px 12px;
        background-color: $main-color;
        color: #000;
        text-decoration: none;
        &:hover {
            background-color: #fff;
        }
    }

}

.main-articles {
    flex-basis: 100%;
    background-color: $main-color;
    display: flex;
    flex-wrap: wrap;
    &__intro {
        flex-basis: 100%;
        padding: 10px 0;
        background-color: rgba(0, 0, 0, 0.2);
        margin: 60px 0 30px;
        text-align: center;
        font-size: 4.4rem;
        letter-spacing: 2px;
    }
    .article {
        flex-basis: 50%;
        @media (max-width: 799px) {
            flex-basis: 90%;
        }
    }
}

.article-list {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__article {
        flex-basis: 30%;
        flex-grow: 1;
        @media(max-width: 1023px) {
            flex-basis: 45%;
        }
        @media(max-width: 799px) {
            flex-basis: 95%;
        }
    }
}

.mini-projects-title {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(216, 45, 74);
    
    &__intro {
        text-align: center;
        font-family: arial, sans-serif;
        letter-spacing: 3px;
        padding: 50px 0;
        font-size:40px;
        flex-basis: 25%;
        flex-grow: 1;
        @media(max-width: 1023px) {
            flex-basis: 45%;
        }
        @media(max-width: 799px) {
            flex-basis: 95%;
        }
    }
}

.project {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
    text-align: center;
    // flex-basis: 100%;
    // display: flex;
    // flex-wrap: wrap;
    // padding: 30px;
    
    &__article {
        flex-basis: 50%;
        flex-grow: 1;
        padding: 30px 50px;
        @media(max-width: 1023px) {
            flex-basis: 45%;
        }
        @media(max-width: 799px) {
            flex-basis: 95%;
        }
        
    }
    &__image {
        display: block;
        width: 80%;
        height: 80%;
        margin: auto;

        &:hover {
            filter: blur(5px);
            cursor: pointer;
            transition: all 0.5s ;
        }
    }
}



.footer {
    flex-basis: 100%;
    background-color: rgb(205, 240, 63);
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;

    .sm-links {
        flex-basis: 30%;
    }
}

.sm-links {
    font-family: $special-font;
    padding: 20px;

    &--darken {
        background-color: darken($main-color, 25%);
    }
    &__title {
        margin: 20px 0 40px;
        font-size: 2.4rem;
        font-weight: 400;
        color:#000;
    }

    &__item {
        text-indent: 40px;
        font-size: 1.8rem;
        color:#000;
    }
}

